QPushButton {
    background-color : #4CAF50;
    color: white;
    border-radius: 5px;

}

QPushButoon:hover {
    background-color: #3e8e41;
}

QPushButton#boton1 {

    background-color: #3399FF;
    color: white;
    border: 1px solid #cccccc;
    borer-radius: 5px;
    padding: 10px 20px;
}